body {
  background-color: #89B0AE;
  box-sizing: border-box;
}
#subscript {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.5rem;
  text-align: center;
}

#main__header {
  margin-top: -1rem;
  text-align: center;
  font-size: 7em;
  font-family: 'Noto Nastaliq Urdu', serif;
  margin-bottom: -1rem;
}

#main__login {
  margin-top: 7rem;
  text-align: center;
}

#main__signup {
  text-align: center;
}

#link {
  color: black;
  text-decoration: none;
}

#signup__button {
  background-color: #FAF9F9;
  color: black;
}

#signup__button:hover {
  background-color: #EEE0CB;
  transition: 0.7s;
}

#signup__header {
    font-size: 2rem;
}
