#stats__header, #stats__subheading {
    text-align: center;
}
#facts__div {
    margin-top: 7rem;
}

#fun__facts {
    text-align: center;
    margin-top: 5rem;
}
.chart {
    margin-top: 10rem;
    text-align: center;
}
